* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./imgs/woodBG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.head-container {
  background-color: rgba(255, 255, 255, 0);
}

.logo {
  height: 100px;
}

.head-container h1 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  font-size: 80px;
  display: inline;
  color: #e2dfd8;
  text-shadow: 1px 1px 2px #444;
}

h2 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  color: #000;
}

.body {
  box-shadow: 3px 6px 6px #333;
  background-color: rgba(205, 245, 255, 0.4);
  backdrop-filter: blur(5px);
  font-weight: 500;
  font-size: 18px;
  color: #2a2a2a;
  text-shadow: 1px 0 1px #666;
}

#main-nav {
  padding: 0;
}

.nav-link {
  font-size: 20px;
  font-weight: 600;
  color: #e0e0e0;
  text-shadow: 1px 1px 3px #999;
  font-family: "Julius Sans One", sans-serif;
}

.nav-item:hover {
  border: 0;
}

.nav-link.active {
  border: 1px solid #333;
  /* box-shadow: 0px -1px 2px #333; */
  background-color: rgba(205, 245, 255, 0.4) !important;
  border-bottom: 0 !important;
}

.nav-link:not(.active) {
  border-bottom: 2px solid #777;
}

#pedigree-list li {
  list-style: none;
  margin: 10px 0;
}

#pedigree-panel .card {
  margin: 5px;
  background-color: #ddd;
  box-shadow: 1px 1px 3px #333;
}

.tab-content {
  padding-top: 15px;
}

.form-label {
  line-height: 2;
}

input {
  margin: 10px;
}

.form-label {
  margin-top: 15px !important;
}

.hero {
  margin: 0;
  padding: 0;
}

.hero img {
  width: 100%;
}

.story::first-letter {
  font-weight: 700;
  color: #000000;
  font-family: serif;
  font-size: 2rem;
}

.nav-tabs {
  border: 0;
}

#form-disclaimer {
  color: rgb(83, 37, 37);
}
